header {
  user-select: none; /* user가 드래그 하는 motion을 막는다 */
  text-align: center;
  margin: 30px;
  padding: 25px;
  font-size: 35px;
  background-color: rgb(54, 53, 53);
}

main {
  user-select: none; /* user가 드래그 하는 motion을 막는다 */
}

.wrapBtn {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.choice {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}

#normal {
  width: 200px;
  height: 70px;
  font-size: 25px;
}

#normal:hover {
  color: rgb(24, 23, 23);
  background-color: rgb(212, 214, 74);
}

#middle {
  width: 200px;
  height: 70px;
  font-size: 25px;
}

#middle:hover {
  color: rgb(24, 23, 23);
  background-color: rgb(102, 175, 50);
}

#high {
  width: 200px;
  height: 70px;
  font-size: 25px;
}

#high:hover {
  color: rgb(24, 23, 23);
  background-color: rgb(170, 13, 13);
}

#timer {
  display: none;
  text-align: center;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  border: 1px solid #bbb;
  text-align: center;
  line-height: 10px;
  width: 15px;
  height: 15px;
  background: #888;
  padding: 15px;
  font-size: 15px;
}

td.opened {
  background: rgb(136, 167, 25);
}

td.flag {
  background: rgb(223, 60, 48);
}

td.question {
  background: orange;
}
