header {
  margin: 30px;
  font-size: 50px;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 60px;
}

.btn {
  margin-top: 20px;
  margin-left: 120px;
}

button {
  width: 80px;
  height: 35px;
  background-color: rgb(37, 36, 36);
}

button:hover {
  background-color: rgb(66, 65, 65);
}