body {
  text-align: center;
}

.mainVar {
  margin: 20px;
  font-size: 30px;
}

input {
  width: 200px;
  height: 30px;
}

button {
  width: 50px;
  height: 35px;
}

button:hover {
  background-color: yellowgreen;
  color: black;
}